<!-- start first section -->
<section class="first_section video_play social-triangle" id="home">
    <div class="video_background position-relative">
        <video autoplay="" muted="" loop="" class="myvideo">
            <source src="assets/video/background_video1.mp4" type="video/mp4">
        </video>
        <div class="parallax-overlay"></div>
        <div class="container">
            <div class="banner_content col-12 col-lg-9 col-md-10" data-aos="zoom-in" data-aos-duration="1000">
                <span class="gym-head">The Best Fitness And Gym Studio</span>
                <h1 class="main_tiltle m-0">Build Your Perfect Body And Healthy Growth</h1>
                <p>Risus ultricies feugiat iaculis est. Eget blandit fringilla in vivamus urna eu. Augue et rhoncus gravida in velit at a amet. Dolor lacinia tristique morbi sed turpis turpis tellus cras in.</p>
                <a class="button fitzaro_btn" href="#appointment">Book Appointment</a>
            </div>
            <a href="#about" class="scroll-down">
                <span class="scroll-arrow arrow1"></span>
                <span class="scroll-arrow arrow2"></span>
                <span class="scroll-arrow arrow3"></span>
            </a>
        </div>
        <div class="slide_social_ic" data-aos="fade-up-left" data-aos-duration="1000">
            <div class="triangle-1"></div>
            <div class="banner_social">
                <a href="https://www.facebook.com/" target="_blank">FB</a>
                <a href="https://www.instagram.com/" target="_blank">IG</a>
                <a href="https://www.youtube.com/" target="_blank">YT</a>
            </div>
        </div>
    </div>
</section>
<!-- end first section -->
