<!-- start header -->
<header class="header" id="header">
    <div class="navbar-header">
        <nav class="navbar_expand">
            <div class="navbar_main">
                <div class="navbar_panel">
                    <!--Navbar Toggle-->
                    <button class="navbar-toggle toggle-menu">
                        <span></span>
                    </button>
                    <!--Navbar Logo-->
                    <div class="navbar_brand">
                        <!--Logo-->
                        <a class="fitzaro_logo" href="index.html">
                            <img src="assets/images/logo/logo.png" alt="Header Logo img" class="logo_dark img-fluid">
                        </a>
                    </div>
                </div>
                <div class="navbar_collapse">
                    <ul class="navbar_nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item" *ngFor="let item of dataMenu; let i=index">
                            <a class="nav-link active" [href]="item.refer" *ngIf="i==0">{{item.name}}</a>
                            <a class="nav-link" [href]="item.refer" *ngIf="i>0">{{item.name}}</a>
                        </li>
                    </ul>
                </div>
                <button class="sidebar-toggle fixed-menu">
                    <span></span>
                </button>
            </div>
        </nav>
        <div class="sidebar-menu">
            <div class="side_social_info">
                <img src="assets/images/svg/watch.svg" alt="clock image" class="img-fluid">
                <div class="time-schedule">
                    <div class="weekly-day">{{dataAtencion.semana}}</div>
                    <p class="m-0">{{dataAtencion.semanahora}}</p>
                </div>
                <div class="time-schedule">
                    <div class="weekly-day">{{dataAtencion.finde}}</div>
                    <p class="m-0">{{dataAtencion.findehora}}</p>
                </div>
                <ul class="social_list">
                    <li><a href="tel:+012345678899">{{dataAtencion.telefono}}</a></li>
                    <li class="mb-5"><a href="mailto:contact@fitzaro.com">{{dataAtencion.correo}}</a></li>
                    <li><p class="m-0">{{dataAtencion.direccion}}</p></li>
                </ul>
            </div>
            <div class="side_panel">
                <ul class="list-social-ic">
                    <li><a class="icon ic-facebook" href="https://www.facebook.com/"><i class="ri-facebook-fill"></i></a></li>
                    <li><a class="icon ic-twitter" href="https://twitter.com/"><i class="ri-twitter-fill"></i></a></li>
                    <li><a class="icon ic-instgram" href="https://www.instagram.com/"><i class="ri-instagram-line"></i></a></li>
                    <li><a class="icon ic-youtube" href="https://www.youtube.com/"><i class="ri-youtube-fill"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
<!-- end header -->
