<!-- start service section -->
<section class="fitzaro_service p-10" id="service">
    <div class="background_shape animate-this">
        <img src="assets/images/svg/service-shape.svg" alt="service-shape image">
    </div>
    <div class="wrap_detail">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 col-md-6">
                    <div class="service_img" data-aos="fade-right" data-aos-duration="1000">
                        <div class="triangle-top"></div>
                        <div class="triangle-bottom"></div>
                        <img src="assets/images/service/service-img1.png" alt="service image" class="img-fluid">
                    </div>
                </div>
                <div class="col-12 col-lg-6 col-md-6">
                    <div class="services-detail">
                        <span class="sub_heading">Our Services</span>
                        <h2 class="main_heading m-0">Solutions for moving better and feeling a healthier</h2>
                        <p class="p-8 m-0">Sed enim purus diam faucibus amet a dolor sed. Orci porttitor fames sed ullamcorper et nunc dui. Sit eget morbi lorem non arcu faucibus cras. Ipsum sapien pretium sollicitudin et tortor, nunc tristique sociis. At rhoncus mollis tristique integer ut at. Ac eleifend enim ipsum posuere lorem congue. Euismod turpis viverra diam neque sit. Id sit id magna a odio tincidunt orci, donec ultricies.<br><br>Commodo ut eget interdum id in in non elementum feugiat. Massa felis nisl aliquam, vestibulum et, sollicitudin. Amet est elit tincidunt dui dui non egestas lorem malesuada id ipsum.</p>
                        <a class="button fitzaro_btn" href="#appointment">Book Appointment</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="services_tool">
        <div class="container">
            <div class="row ordered-1" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1000">
                <div class="col-sm-6 col-lg-4 box-tool">
                    <a href="weight_lifting.html">
                        <div class="fitzaro_tools">
                            <img src="assets/images/svg/weight.svg" alt="Weight Lifting" class="img-fluid">
                            <h3 class="m-0">Weight Lifting</h3>
                        </div>
                        <div class="order-number"></div>
                        <img src="assets/images/svg/weight-white.svg" alt="Weight Lifting1" class="img-fluid exercise-img">
                    </a>
                </div>
                <div class="col-sm-6 col-lg-4 box-tool">
                    <a href="aerobics.html">
                        <div class="fitzaro_tools">
                            <img src="assets/images/svg/body.svg" alt="Aerobics" class="img-fluid">
                            <h3 class="m-0">Aerobics</h3>
                        </div>
                        <div class="order-number"></div>
                        <img src="assets/images/svg/body-white.svg" alt="Aerobics1" class="img-fluid exercise-img">
                    </a>
                </div>
                <div class="col-sm-6 col-lg-4 box-tool">
                    <a href="cardio.html">
                        <div class="fitzaro_tools">
                            <img src="assets/images/svg/crosfit.svg" alt="Cardio Tools" class="img-fluid">
                            <h3 class="m-0">Cardio</h3>
                        </div>
                        <div class="order-number"></div>
                        <img src="assets/images/svg/crosfit-white.svg" alt="Cardio" class="exercise-img img-fluid">
                    </a>
                </div>
                <div class="col-sm-6 col-lg-4 box-tool">
                    <a href="boxing_punch.html">
                        <div class="fitzaro_tools">
                            <img src="assets/images/svg/boxing-punch.svg" alt="Boxing Punch" class="img-fluid">
                            <h3 class="m-0">Boxing Punch</h3>
                        </div>
                        <div class="order-number"></div>
                        <img src="assets/images/svg/boxing-punch-white.svg" alt="boxing-punch" class="exercise-img img-fluid">
                    </a>
                </div>
                <div class="col-sm-6 col-lg-4 box-tool">
                    <a href="power_yoga.html">
                        <div class="fitzaro_tools">
                            <img src="assets/images/svg/yoga.svg" alt="Power Yoga" class="img-fluid">
                            <h3 class="m-0">Power Yoga</h3>
                        </div>
                        <div class="order-number"></div>
                        <img src="assets/images/svg/yoga-white.svg" alt="yoga" class="exercise-img img-fluid">
                    </a>
                </div>
                <div class="col-sm-6 col-lg-4 box-tool">
                    <a href="zumba_class.html">
                        <div class="fitzaro_tools">
                            <img src="assets/images/svg/zumba.svg" alt="Zumba Class" class="img-fluid">
                            <h3 class="m-0">Zumba Class</h3>
                        </div>
                        <div class="order-number"></div>
                        <img src="assets/images/svg/zumba-white.svg" alt="zumba" class="exercise-img img-fluid">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end service section -->