<!-- start video section -->
<section class="fitzaro_video p-10" id="mission">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 col-md-6">
                <div class="video_info col-lg-10 col-md-12">
                    <span class="sub_heading">Our Mission</span>
                    <h2 class="main_heading text-white m-0">Get In. Get Fit. Get on with Life.</h2>
                    <p class="m-0 p-8">Nibh volutpat rhoncus tortor ac. Posuere mattis orci, scelerisque volutpat dignissim nullam nascetur feugiat tortor. Potenti viverra a sed in felis. Tincidunt habitant et scelerisque sit at sit risus neque tincidunt. A tempor malesuada eget enim, eleifend. Tincidunt feugiat risus, euismod et nullam. Interdum lectus hendrerit nibh cursus diam viverra facilisis in.</p>
                    <div class="video-play d-flex">
                        <a href="javascript:void(0);" class="video_button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            <i class="ri-play-fill"></i>
                        </a>
                        <p class="m-0">Watch Now</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 col-md-6 video_wrap" data-aos="fade-left" data-aos-duration="1000">
                <div class="bg_image">
                    <div class="line-shapes">
                        <div class="line-1"></div>
                        <div class="line-2"></div>
                        <div class="line-3"></div>
                        <div class="line-4"></div>
                    </div>
                    <div class="right-arrow-grp">
                        <div class="arrowSliding">
                            <div class="arrow"></div>
                        </div>
                        <div class="arrowSliding delay1">
                            <div class="arrow"></div>
                        </div>
                        <div class="arrowSliding delay2">
                            <div class="arrow"></div>
                        </div>
                        <div class="arrowSliding delay3">
                            <div class="arrow"></div>
                        </div>
                        <div class="arrowSliding delay4">
                            <div class="arrow"></div>
                        </div>
                        <div class="arrowSliding delay5">
                            <div class="arrow"></div>
                        </div>
                    </div>
                    <div class="top-arrow-grp">
                        <div class="slide-top">
                            <div class="arrow"></div>
                        </div>
                        <div class="slide-top delaytime1">
                            <div class="arrow"></div>
                        </div>
                        <div class="slide-top delaytime2">
                            <div class="arrow"></div>
                        </div>
                        <div class="slide-top delaytime3">
                            <div class="arrow"></div>
                        </div>
                        <div class="slide-top delaytime4">
                            <div class="arrow"></div>
                        </div>
                        <div class="slide-top delaytime5">
                            <div class="arrow"></div>
                        </div>
                    </div>
                    <img src="assets/images/mission/video-img.png" alt="Mission-video image" class="video-img img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end video section -->